.ContentModal{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:100%;
    width: 100%;
    overflow-y: scroll;
}
.ContentModal__landscape{
        object-fit: contain;
        border-radius: 10px;
}
.ContentModal__portrait{
    display:none;
    object-fit: contain;
    border-radius: 10px;
}
.ContentModal_about{
    padding: 10px;
    width: 95%;
    height: 90%;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    font-weight: 300;
}
.ContentModal_title{
    height: 5%;
    font-size: 2vw;
    display: flex;
    align-items:center;
    justify-content:center;
}
.ContentModal_tagline{
    padding-bottom: 10px;
    align-self: center;
}
.ContentModal_overview{
    display:flex;
    height: 60%;
    font-weight: 400;
    border-radius:15px;
    box-shadow: inset 0 0 5px #ffff;
    text-align: center;
}
.btn{
    margin: 5px 0;
}
@media (min-width: 800px){
    .ContentModal__landscape{
        display:none;
    }
    .ContentModal__portrait{
        display: flex;
        width: 38%;
    }   
    .ContentModal{
        display: flex;
        flex-direction: row;
        padding: 10px 0;

    }
    .ContentModal_about{
        width: 60%;
        height: 100%;
        padding: 0;
        text-align: center;
    }  
    .ContentModal_title{
        margin-top: 30px;
    }
}